<!-- Open Graph Meta Tags -->
<meta property="og:title" content="{{ page.title | escape }}" />
<meta property="og:description" content="{{ page.excerpt | escape }}" />
<meta property="og:url" content="{{ page.url | absolute_url }}" />
<meta property="og:type" content="website" />
<meta property="og:image" content="{{ site.url }}/assets/i_am_lain.png" />

<!-- Static Open Graph Meta Tags -->
<meta property="og:title" content="AF — Offensive AI & Cybersecurity Research" />
<meta property="og:description" content="Thoughts, research, and writing at the intersection of AI and Cyber Security" />
<meta property="og:url" content="https://yourdomain.com/" />
<meta property="og:type" content="website" />
<meta property="og:image" content="https://hackallthethings.ai/assets/i_am_lain.png" />

<!-- Twitter Card Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ page.title | escape }}" />
<meta name="twitter:description" content="{{ page.excerpt | escape }}" />
<meta name="twitter:image" content="{{ site.url }}/assets/i_am_lain.png" />

<!-- Static Twitter Card Meta Tags -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Hack All The Things" />
<meta name="twitter:description" content="Thoughts, research, and writing at the intersection of AI and Cyber Security" />
<meta name="twitter:image" content="https://hackallthethings.ai/assets/i_am_lain.png" />
